
{% load staticfiles %}

<html>
<head>
<title>Warszawski Zlot Wędrowników Wrzawa</title>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >


<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!--<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700italic,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link	rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">

</head>

<body>
<div class="container-fluid">

<div class="navbar navbar-default transparent" role="navigation">
      <ul class="nav navbar-nav transparent">
        <li><a href="/">Home</a></li>

        <li><a href="{% url 'events' %}">Aktualności</a></li>

        <li><a href="{% url 'program' %}">Program</a></li>

        <li><a href="{% url 'signup' %}">Zapisy</a></li>

        <li><a href="{% url 'organizers' %}">Organizatorzy</a></li>

        <li><a href="/#organizers">Partnerzy</a></li>
      </ul>
<div>
  <a href="http://zhp.pl" target="_blank"><img class="zhp" src="/static/img/lilijka-zielona.png" alt="zhp"></a>
</div>
</div>


{% block content %}
{% endblock %}
</div>
</body>

</html>
