{% extends 'page/base.html' %}
{% block content %}

<div id="org_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Organizatorzy</h1>
</div>
</div>
</div>
</div>

<div id="organizers" class="container without_bground">
<div class="row">
  <div class="col-md-4">
    <img src="/static/photos/sonia_kw.jpg" class="round img-responsive">
<h2>hm. Sonia Jaworska</h2>
<p>komendant.wrzawa@stoleczna.zhp.pl</p>
<p>Instruktorka Hufca Warszawa Ochota działająca w obszarze kształcenia kadry instruktorskiej oraz
wędrowniczej. Członkini Szkoły Instruktorskiej &quot;Iluminacja&quot; Chorągwi Stołecznej. Nakręca mnie myśl o
podejmowaniu nowych wyzwań i radosnej walce o piękniejszy każdy dzień, chciałabym zachęcić
wędrowników stołecznej do tego samego i dużo więcej, stąd właśnie Wrzawa.<br>
Na co dzień menedżer projektów w branży post-produkcji filmowej, miłośniczka gór i jazdy konnej.
Gryzę po kostkach jak ktoś ma słodycze i nie chce ich dobrowolnie odstąpić :) Poza tym jestem zupełnie
niepoważna.</p>
</div>
<div class="col-md-4">
  <img src="/static/photos/widlak_kw.jpg" class="round img-responsive">
<h2>phm. Krzysztof Widłak</h2>
<p>program.wrzawa@stoleczna.zhp.pl</p>
<p>Namiestnik wędrowniczy w hufcu Ochota. Jestem też członkiem KSI i komendy hufca. We Wrzawie
zajmuje się programem (by był naprawdę dobry!) oraz jestem z-cą komendantki (gdzie Sonia nie może,
tam mnie pośle). Na co dzień pracuję w Banku i biegam. Bo lubię :-)</p>
</div>
<div class="col-md-4">
  <img src="/static/photos/lucyna_kw.jpg" class="round img-responsive">
<h2>pwd. Lucyna Iwanow</h2>
<p>logistyka.wrzawa@stoleczna.zhp.pl</p>
<p>Instruktorka Hufca Warszawa Wola, Szefowa HKR 321 Infinitas.<br>
Moją harcerską misją jest zaszczepienie w wędrownikach i HSach w moim Szczepie
ducha puszczaństwa. Dołączyłam do Wrzawy za namową Soni, we Wrzawie jestem
 odpowiedzialna za logistykę - wypisał się marker? brakuje herbaty? To właśnie
 moja działka:)<br>
Na co dzień studentka Warszawskiego Uniwersytetu Medycznego bardzo zaangażowana
w życie Uczelni.W wolnej chwili czytam książki, gram w gry komputerowe, chodzę
do muzeów bądź na siłownię. Moim mottem życiowym jest cytat z Sapkowskiego:
"Gdy cię mają wieszać, poproś o szklankę wody. Nigdy nie wiadomo, co się wydarzy,
 zanim przyniosą"</p>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <img src="/static/photos/julia_kw.jpg" class="round img-responsive">
<h2>pwd. Julia Kucharska</h2>
<p>biuro.wrzawa@stoleczna.zhp.pl</p>
<p>Informacje o naszej cudownej Szefowej Biura i Komunikacji już wkrótce!</p>
</div>
<div class="col-md-4">
  <img src="/static/photos/krzak_kw.jpg" class="round img-responsive">
<h2>phm. Krzysztof Szczepaniak</h2>
<p>skarbnik.wrzawa@stoleczna.zhp.pl</p>
<p>Informacje o naszym fantastycznym Szefie Finansów już wkrótce!</p>
</div>
<div class="col-md-4">
  <img src="/static/photos/maciek_kw.jpg" class="round img-responsive">
<h2>pwd. Maciej Król</h2>
<p>promocja.wrzawa@stoleczna.zhp.pl</p>
<p>Informacje o naszym niedoścignionym Szefie Promocji już wkrótce!</p>
</div>
</div>
</div>


{% endblock %}
