{% extends 'page/base.html' %}
{% block content %}

<div id="program_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Program</h1>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
<p>Główna część programu zostanie zrealizowana w ramach czterech modułów: profesjonalizm, służba,
interakcje społeczne oraz wyczyn.<br><br>
Silny akcent postawimy na specjalistów - uczestnicy zlotu na zajęciach spotkają się z prawdziwymi
ekspertami i mistrzami w swoich dziedzinach. Chcemy, by wędrownicy wrócili ze zlotu bogatsi nie tylko w
nowe znajomości - ale również w nową wiedzę, doświadczenia i konkretne umiejętności.<br><br>
Poprzez współpracę z innych organizacjami pozarządowymi i instytucjami pokażemy, jak wiele możliwości
mamy wokół - ile propozycji może wspierać nas w jeszcze lepszej, pełniejszej i mądrzejszej realizacji
harcerskiej misji. A przy tym - że propozycje te są niezwykle różnorodne i zwykle bardzo łatwo dostępne.<br><br>
Odrębną część programu stanowić będą bloki instruktorskie adresowane do kadry wędrowniczej,
ukierunkowane na rozwijanie warsztatu metodycznego oraz wiedzy i umiejętności przydatnych w pracy z
wędrownikami.</p>
</div>
</div>


{% endblock %}

