{% extends 'page/base.html' %}
{% block content %}

<div id="program_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Program</h1>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
<p>Tu będzie opisany program zlotu</p>
<br>
<p>Pantofelek ma wykrócone ciało o charakterystycznym kształcie (stąd nazwa), osiąga długość od 50 μm do 350 μm. 
Z zewnątrz pokryte jest rzędami rzęsek oraz wyposażone w tzw. trichocysty - specyficzne struktury wyrzucane 
na zewnątrz w przypadku podrażnienia. Rzęski pokrywające ciało służą mu do poruszania się i zdobywania pokarmu. 
Każda rzęska zakończona jest u swojej podstawy kinetosomem czyli ciałkiem podstawowym. Pantofelek porusza się 
bardzo szybko, nawet do 2,5 mm/sek. Nie ma ściany komórkowej. Jego ciało otacza żywa osłona zwana pellikulą. 
Posiada dwa różne jądra komórkowe - mikronukleus i makronukleus. Pantofelek nie ma w sobie ciałek zieleni, w których jest chlorofil.</p>
</div>
</div>


{% endblock %}

