{% extends 'page/base.html' %}
{% block content %}

<div id="program_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Program</h1>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
<h2>Czego spodziewać się po Wrzawie?</h2>
<p>
Tak zupełnie poważnie, Wrzawa pomyślana jest tak, by otworzyć Ci drogi poznania nowych aktywności
- czy też intelektualnych, czy też fizycznych. Kluczem do realizacji tego zamierzenia jest organizacja
możliwe jak najbardziej niestandardowych, ale też &quot;życiowo przydatnych&quot; warsztatów i szkoleń - taniec,
egzotyczna kuchnia, fotografia, majsterkowanie czy teatr to niektóre z obszarów, z których możesz się
spodziewać przygotowanych zajęć.
<br><br>
Drugim kluczowym aspektem Wrzawy jest działanie. Nie uprawiamy sztuki dla sztuki - szkolenie, przez
które przejdziesz ma za zadanie przygotować Cię do wyzwania &quot;wyjścia w świat&quot; i użycia nowych
umiejętności w kontekście, już na samym zlocie! Dlatego właśnie program będzie swoistego rodzaju
&quot;ciągiem logicznych zdarzeń&quot;, a poranne i popołudniowe zajęcia będą powiązane z wydarzeniem, które
będzie niejako weryfikowało i podsumowywało cały Twój sobotni wysiłek! Wierzymy głęboko, że pełnię
satysfakcji osiągamy właśnie wtedy, kiedy możemy się wykazać tym, czego się nauczyliśmy, tym co
wiemy. Będziesz mieć taka możliwość na naszym Zlocie!</p>
</div>
</div>

<div id="program_image" class="with_bground">
<div class="overlay">
<div class="container">
<div>
<p>Oprócz tego chcemy, by wędrownicy w Stołecznej mogli spędzić ze sobą jak najwięcej czasu, wymienić
się doświadczeniami, dowcipami i żeby można było zobaczyć z kim, gdzie, jak i co można robić, by
nabrać wędrowniczego rozmachu i fantazji! Nie zabraknie zatem piątkowych zajęć integracyjnych i
sobotniego klimatycznego wieczoru w braterskim, harcerskim klimacie. Stworzymy również przestrzeń
do swobodnej rozmowy i wspólnego siorbania herbaty.</p>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
  <p>
Instruktorzy, którzy nie zdążą zebrać patrolu, a będą żądni nowinek metodycznych oraz szkoleń z zakresu
prowadzenia drużyn wędrowniczych z pewnością doskonale odnajdą się na dziejącym się równolegle do
modułu wędrowniczego module instruktorskim.
<br><br>
System zapisów na zajęcia pozwoli Ci wybrać dokładnie te warsztaty i aktywności, które odpowiadają
Twoim zainteresowaniom i potrzebom. Informacje o tym, jakie szkolenia będą dostępne przy zapisach
będziemy ujawniać stopniowo na przestrzeni kolejnych dwóch miesięcy :)
<br><br>
Wierzymy, że <strong>WRZAWA</strong> jest niezwykłym zlotem i będzie dla Ciebie i Twojego środowiska wędrowniczego
rozgrzewką i motywatorem na początek kolejnego roku harcerskiej/ wędrowniczej działalności, a także
inspiracją dla odnalezienia swojej własnej drogi!
<br><br>
Niech zawrzy! :)
</p>
</div>
</div>
{% endblock %}
