{% extends 'page/base.html' %}
{% block content %}

<div id="signup_header" class="with_bground">
<div class="overlay">
<div class="container">
<div style="text-align: center;">
<h1 class="header">Zapisy</h1>
</div>
</div>
</div>
</div>

<div id="events" class="container without_bground">
<div>
<p>Tu będzie się można zapisać na warsztaty</p>
<br>
<p>
Flądry charakteryzują się asymetrią budowy ciała. Dorosłe ryby przez większość czasu spoczywają
 na dnie morskim leżąc na boku ciała. W tej pozycji również poruszają się. W związku z tym jedno
 ich oko przemieszczone jest na przeciwną stronę głowy. Kąt pomiędzy kierunkami obojga oczu 
fląder wynosi około 70°. Znacznie przesunięta ku stronie brzusznej jest jedna z płetw piersiowych. 
Asymetryczne jest również ubarwienie – strona skierowana ku górze, jest ciemno pigmentowana, a strona skierowana w dół jest jasna.</p>
</div>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock %}



