/*
body {
    font-size: 100%;
}*/
:root {
  --header-font: 'Open Sans', sans-serif;
  --h-color: rgb(184, 184, 184);
  --text-color: rgb(184, 184, 184);
  --button-color: #B27213;

  /*--orange: #f9b12f;
  --grey: #4a4a4a;
  --white: #ffffff;
    font-family: 'Berkshire Swash', cursive;*/
}

.round{
  border-radius: 50%;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

h1.header {
    color: #ffffff;
    font-family: var(--header-font);
    text-align: center;
    font-size: 100;
}

h2.header {
    color: #ffffff;
    /*font-family: 'Lato', sans-serif;*/
}

div.header {
    background: #FCA205;
    /*position:absolute;*/
    top:0px;
    width: 100%;
    height: 120;
    z-index: -1;
}

div.title {
    /*margin-top: 5%;*/
}

.with_bground {
  background: url("../photos/harcerze_small.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  height: auto;
  color: #fff;
}

.without-background {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding: 60px;
}

.overlay {
  background: rgba(0,0,0,0.6);
}

.right {
  float: right;
}

#idea{
  padding-top: 90px;
}

#events_header {
  background: url("../photos/hands-people-woman-working.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-position: 90%;
}

#program_header {
  background: url("../photos/italian-landscape-mountains-nature.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-position: 90%;

}

#signup_header {
  background: url("../photos/nature-person-red-woman.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-position: 90%;
}

#signup {
  background: url("../photos/road.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-position: center;
}

#org_header {
  background: url("../photos/organizatorzy.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-position: center;
}

#program_image{
    background: url("../photos/tools.jpg") 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: center;
}
/*
body p {
    font-family: 'Lato', sans-serif;

}


*/

body {
  font-family: 'Lato', sans-serif;
  background-color: #021D2B;
  color: var(--text-color);/*#4a4a4a;*/



  font-size: 150%;
  line-height: 150%;
  height: 100%;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: var(--header-font);
  font-weight: lighter;
  color: var(--h-color);
  padding-top: 10px;
  padding-bottom: 20px;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
h5 a {
  font-family: var(--header-font);
}
a,
a:hover {
  color: #f9b12f;
  text-shadow: none !important;
}

.transparent {
    background: 0;
}
.navbar-default {
  /*background-color: rgba(255, 255, 255, 1);*/
  border: 0px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  box-shadow: none;
  color: #ffffff;
  margin-bottom: 0px;
  border-radius: 0;
  position: absolute;
  width: -moz-available;

}

ul.navbar-nav, li.navbar-nav, a.navbar-nav, .navbar-nav{
  color: #ffffff !important;
  text-shadow: none !important;
}

.zhp{
  width: 10%;
  float:right;
}

.btn-default{
  background-image: none;
  background-color: var(--button-color);
  border: 0;
  border-radius: 0;
  color: var(--text-color);
}

.table th, .table td {
     border-top: none !important;
 }
